.wrapper {
    border: 1px solid #f2f2f2;
}

#pdf-input-div {
    display: block;
/ / width: 80 %;

}

.wrapper-heading {
    padding: 10px;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #777;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.wrapper-content {
    margin: 10px;

}

.content-heading {
    margin-bottom: 15px;
}

.text_contents {
    margin-bottom: 10px;
}

textarea {
    width: 65%;
    border: 1px solid #bbb;
}

.input_contents {
    margin-bottom: 10px;
}

.small_font {
    margin: 20px 0 10px 0;
}

.button_contents {
    height: 30px;
}

.emp-data {
/ / display: inline-grid;
}

.emp-data div {
    display: inline-block;
}

/*.emp-data input {
    float: right;
    margin: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid #e7e7e7;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    width: 200px;
}*/
.emp-data span {
    float: left;
    margin: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
}

th {
    background-color: #f2f2f2;
    color: #777;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s;
    background: #f0f0f0;
    border-radius: 5px;
    color: #444;
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 35%;
}

#pdf-image {
    width: 150px;
    height: 150px;
}

.pdf-div {
    padding: 20px;
    display: none;
}

form {
    margin: 0;
}

.pdf-form {
    max-width: none;
    width: 1005px;
}

.pdf-heading {
    text-align: center;
}

.pdf-logo {
    text-align: center;
}

.pdf-logo-img {
    padding: 7px;
}

.pdf-logo img {
    width: 70px;
    height: 70px;
}

.profile-pic {
    margin-top: 15px;
}

.pdf-div h2 {
    color: #0094ff;
    padding-left: 15px;
    text-transform: uppercase;
}

.pdf-div h3 {
    padding-left: 15px;
    text-transform: uppercase;
}

.clk {

}

.hascls {
    width: 50px;
    background-color: #39771d;
    height: 10px;

}

.slide {
    background-color: #777777;
    width: 30px;
    height: 30px;
}

section {
    /*border: 1px solid #aaa;*/
    border-radius: 3px;
    width: 100%;
    display: inline-flex;
    margin: 10px 0 10px 0;
}

h1 {
    margin: 10px 10 0 10 ;
    font-size: 16px;
    color: #777;
}
.ngdialog.ngdialog-theme-default .ngdialog-content{
    background:#f2f2f2;
}

section img {
    height: 8%;
}

input {
    border: 0;
    border-left: 1px solid #ccc;
    flex-grow: 1;
    width: 100%;
    outline: none;
    background-color: #eaeaea;
    font-weight: 300;
    padding: .35em .5em;
}

.form-buttons button {
    margin-left: 16px;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0 0 0;
}

.a-btn, .a-btn--filled {
    padding: .35em 1em;
    box-shadow: 0 30px 60px -30px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: 1px solid #fc443e;
    background-color: #fff;
    transition: all 146ms ease;
    border-radius: 3px;
    color: #333;
}

.a-btn--filled {
    background-color: #fc443e;
    border-color: #fc443e;
    color: #fff;
}
.ngdialog.ngdialog-theme-default{
    padding-top: 50px;

}
/*For Mobile****************/

@media (max-device-width: 480px) {
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:60%;
    }
    .pdf-form{
        transform-origin: 0 0;
        zoom: 0.3;


    }
}