span {
    padding: 5px;
}

.emp-data input {
    float: right;
}
.emp-data span {
    float: left;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s;
    background: #f0f0f0;
    border-radius: 5px;
    color: #444;
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 160px;
    position: relative;
    width: 35%;
}