@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.popup-header {
	/*height: 100%;*/
    /*display: flex;
    align-items: center;*/
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
}
.popup-header-option {
	padding: 0px;
    float: right;
	display: flex;
    justify-content: flex-end;
    align-items: center;
    display: -webkit-box;
    -webkit-box-pack: end;
    -webkit-box-align: center;
    position: relative;
}
.popup-header-container {
    z-index: 1030;
    background-color: #c12e2a;
    width: 100%;
    height: 55px;
    box-shadow: 0px 5px 10px -4px #ccc;
}
.child-component-heading{
	display: inline-block;
    text-align: left;
    overflow: visible;
}
.popup-header-left{
    display: flex;
    align-items: center;
    justify-content: space-around;
   /* float: left;*/
   display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
}
.popup-header-right{
    display: inline-block;
    align-items: center;
    /*float: right;*/
    padding-right: 7px; 
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
}
.component-heading {
    /*font-size: 40px;*/
    margin: 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
.fa-info{
	line-height: 30px;
	font-size: 17px;
    cursor: pointer;
    color: #ffffff;
}
.fa-info:hover{
	-webkit-box-shadow: -2px 2px 12px 0px rgba(255, 0, 0, 0.3);
    -moz-box-shadow: -2px 2px 12px 0px rgba(255, 0, 0, 0.3);
    font-weight: 300;
    box-shadow: -2px 2px 12px 0px rgba(255, 0, 0, 0.3);
}
.info-icon {
	margin: 13px auto;
    border: none;
    height: 30px;
    width: 30px;
    outline: none;
    color: #ffffff !important;
    background-color: #ef5350;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1 !important;
}
.description-popup{
	background-color: #f5f5f5;
	position: absolute;
	display: none;
	width: auto;
	color: #000000;
	z-index: 999;
	padding: 15px;
	right: 120px;
    top: 0px;
    border-radius: 10px;
}
.popup-container{
	outline: 0;
	z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #585e61;
    background-color: #f8f9fa;
}
.popup-container .row{
	margin: 0;
}
.component-popup-layout{
	/*display: flex;
    flex-direction: column;*/
    width: 100%;
    height: 100%;
    /*align-items: center;*/
}

.component-description , .close-button{
	height: 50px;
    width: 50px;
    text-align: center;
}
.close-button .close{
	margin: 12px auto;
    border: none;
	height: 30px;
    width: 30px;
    line-height: 30px;
	outline: none;
	color: #c12e2a !important;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1 !important;
}
.close-button .close:hover {
	-webkit-box-shadow: -2px 2px 12px 0px rgba(255, 0, 0, 0.3);
    -moz-box-shadow: -2px 2px 12px 0px rgba(255, 0, 0, 0.3);
    box-shadow: -2px 2px 12px 0px rgba(255, 0, 0, 0.3);
    font-weight: 500;
}
.close-button span{
	font-weight: 700;
	font-size: 24px;
	cursor: pointer;
	color: #c12e2a;
}
.sticky-side{
	position: fixed;
	left: 10px;
	display: flex;
	justify-content: center;
	width: 20%;
}
.components-content-container{
	width: 100%;
	height: calc(100% - 55px);
}
.components-content {
    height: 100%;
    width: 100%;
}
.list-items{
	padding: 0px;
	display: flex;
	color: #3e6174;
	overflow-y: auto;
    height: 100%;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.1);
	display: -webkit-box;
}
.fixed-menu {
	/*float: left;
    height: 100%;
    width: 250px;
    display: inline-block;
    left: -250px;*/

    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    transition: .3s;
    display: inline-block;
    z-index: 1030;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #ccc;
    
}
.fixedDiv {
    max-height: calc(100% - 110px);
    margin: 0 0 20px 0;
    overflow: auto;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    -o-box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
}

.component-list {
	width: 100%;
}
.component-list-item a{
	text-decoration: none;
    font-family: 'Roboto', sans-serif;
	font-size: 14px;
    font-weight: 400;
	padding: 0;
	color: #868e96;
}
.component-ul-heading {
    padding-left: 15px;
    display: block;
    padding-bottom: 10px;
    font-weight: 600;
    color: #868e96;
    font-size: 11px;
    text-transform: uppercase;
}
.sub-child-list{
 text-decoration: none;
    font-size: 13px;
    color: #868e96;
    text-align: left;
    padding-left: 36px;
}
.component-list-item.opened, .component-list-item.selected-item {
    border-color: #c12e2a;
}
.component-list-item{
	padding: 16px 15px;
	cursor: pointer;
    border-left: 5px solid transparent;
}
.component-list-subitem{
    /*padding: 5px 10px;*/
    cursor: pointer;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.component-list-subitem a{
    text-decoration: none;
    font-size: 14px;
    color: #3e6174;
    text-align: left;
    padding-left: 33px;
}

.selected-item a{
	color: #c12e2a;
	font-weight: 500;
}
.active{
    background-color: #d2d2d2;
}
/*hover on list*/
.hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e6e6e6;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.hvr-rectangle-out {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
}
.menu-icons {
	width: 20%;
	background-color: #f2f6f8;
}
.icons {
	margin: 10px;
	text-align: center;
	position: relative;
    display: inline-block;
}
.iframe-heading {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
	padding-left: 10px;
    line-height: 45px;
    background: #fff;
    font-weight: 600;
    /*color: #292b2c;*/
    color: #212529;
    font-size: 16px;
	-webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.1);
}
.iframe-content-container {
    height: 100%;
    overflow: hidden;
}
.iframe-container{
    padding: 20px;
	height: 100%;
	background-color: #f8f9fa !important;
}
.iframe-heading-container {
    height: 45px;
    margin-bottom: 20px;
}
.iframe-section-container {
    height: calc(100% - 105px);
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.1);
}
.iframe-section{
/*	-webkit-box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.1);
*/}
.section-visible{
	visibility: visible;
}
.section-content {
	background: #ffffff;
	overflow: hidden;
	height: 100%;
}
.iframe-container iframe{
	border: none;
}
.icons span{
	font-size: 24px;
	padding: 5px;
	cursor: pointer;
}
.selected-icon{
	background-color: #ef5350;
}
.icons:hover > .tooltiptext
{
	display: block;
    opacity: 1;
    font-size: 16px;
}

/* Tooltip text */
.tooltiptext {
    display: none;
    top: -5px;
    left: 125%;
    position: absolute;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}
.disable-overlay {
	cursor: not-allowed;
	position: fixed;
	top: 70px;
	left: 0px;
	right: 20px;
	bottom: 0px;
	background-color: rgba(173,173,173,0.7);
	color: #000000;
	z-index: 1031;
	display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-align: center;
 }
.overlay-image{
   background-image: url("../../../images/underconstruction3.png");
   width: 200px;
   height: 200px;
   background-repeat: no-repeat;
   margin-left: 45%;
   background-size: contain;
}

.profile-pic-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    
}
.profile-pic-container .pepcus-logo {
    width: 120px;
    height: 110px;
}
/*.profile-pic-content{*/
    /*text-align: center;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-around;*/
    /*flex-direction: column;*/
    /*display: -webkit-box;*/
    /*-webkit-box-align: center;*/
    /*-webkit-box-orient: vertical;*/
    /*-webkit-box-pack: justify;*/
/*}*/
/*.profile-pic{*/
    /*width: 60px;*/
    /*height: 60px;*/

/*}*/
/*.profile-pic img{*/
    /*width: 100%;*/
    /*border-radius: 50%;*/
/*}*/
/*.profile-name{*/
    /*margin: 0;*/
/*}*/
/*.profile-details{*/
    /*margin: 0;*/
/*}*/
.right-rendering-container{
    display: inline-block;
    height: 100%;
    width: calc(100% - 250px);
    margin-left: 250px;
    transition: .3s;
}
.components-list ul{
    list-style: none;
    padding: 0;
}
.components-list i{
    padding-right: 20px;
}
div.fixed-menu.inactive {
    left: -250px;
  /*  z-index: 1;*/
    
}
.shift-contents{
    margin-left: 0;
    width: 100%;
    transition: .3s;
}
.side-navigation-icon{
    margin:0 20px;
    font-size: 24px;
    display: inline-block;
  /*  float: left;*/
    cursor: pointer;
    color: #fff;
}
#UIchilds{
    background-color:#E9E9E9; 
}



.component-description, .close-button {
height: 50px;
width: 50px;
text-align: center;
display: -webkit-box;
-webkit-box-align: center;
-webkit-box-pack: center;
}


.popup-header {
justify-content: space-between;
align-items: center;
display: flex;
display: -webkit-box;
-webkit-box-pack: justify;
-webkit-box-align: center;
-webkit-box-orient: horizontal;
}