body{

}
.section-container{
	height: 415px;
}
.h6{
	margin: 0; 
	padding: 5px;
}
.container { 
	width: 40%; 
	margin: 20px;
}
input{
	margin-bottom: 10px;
}
.content {
	text-align: left;
	position: relative;
	padding: 5px;
}

.autocomplete-suggestions { 
	border: 1px solid #999; 
	background: #FFF; 
	cursor: default; 
	overflow: auto; 
	-webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
	-moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
	box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
	max-height:240px;
}
.autocomplete-suggestion { 
	padding: 2px 5px; 
	white-space: nowrap; 
	overflow: hidden; 
}
.autocomplete-selected {
	background: #bfbfbf; 
}
.autocomplete-suggestions strong { 
	font-weight: 500; 
	color: #ef5350; 
}
.autocomplete-custom-append {
	/*min-width:0%;
	width:400px;
	height:25px;*/
}
.suggestion-heading {
	position: absolute;
    /* top: 150px; */
    margin-left: 40px;
}
.suggestion-image {
	position: absolute; 
	left: -40px;
	top: 10px;
}
.suggestions-container {
	position: absolute;
    top: 115px;
    /* margin: 20px; */
    /* padding-top: 10px; */
    padding-left: 45px;
}
.input-option{
	width: 70%;
	margin: 5px;
}
/*input{
	min-width:initial;
	padding-left: 5px;
	font-size: 16px;
}
*/