
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
 body
 {
 float:left;
 }
 
#export{
 	margin: 0;
 }
#dt_example {
	width: 100%;
}


#dt_example #container {
	padding: 15px;
	margin-bottom: 20px;
}


#dt_example #footer {
	margin: 50px auto 0 auto;
	padding: 0;
}

#dt_example #demo {
	/*margin: 30px auto 0 auto;*/
	margin-top: 10px;
}

#dt_example .demo_jui {
	margin: 30px auto 0 auto;
}

#dt_example .big {
/*	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;*/
}

#dt_example .spacer {
	height: 20px;
	clear: both;
}

#dt_example .clear {
	clear: both;
}

#dt_example pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#dt_example h1 {
	/*margin-top: 0;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: black;
	clear: both;*/
}

#dt_example a {
	width: 27%;
	color: #e6e6e6;
 background-color: #fd7570;
 border-color: #fd7570;
 display: inline-block;
 font-weight: normal;
 line-height: 1.25;
 text-align: center;
 white-space: nowrap;
 vertical-align: middle;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 border: 1px solid transparent;
 padding: 7px 14px;
 font-size: 14px;
 border-radius: 0.25rem;
 transition: all 0.2s ease-in-out;
}

#dt_example a:hover {
	color: #fff;
 background-color: #fc443e;
 border-color: #fc3b34;
 text-decoration: none !important;
 -webkit-box-shadow: -10px 10px 20px 0px rgba(0,0,0,0.3);
 -moz-box-shadow: -10px 10px 20px 0px rgba(0,0,0,0.3);
 font-weight: 500;
 box-shadow: -10px 10px 20px 0px rgba(255, 0, 0, 0.3);
}

#dt_example ul {
	color: #4E6CA3;
}

.css_right {
	float: right;
}

.css_left {
	float: left;
}

.demo_links {
	float: left;
	width: 50%;
	margin-bottom: 1em;
}

#demo_info {
	padding: 5px;
	border: 1px solid #B0BED9;
	height: 100px;
	width: 100%;
	overflow: auto;
}

#dt_example code {
/*	padding: 2px 4px !important;
	white-space: nowrap;
	font-size: 0.9em;
	color: #D14;
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;*/
}

.section-container{
	margin: 20px;
	padding-bottom: 30px;
}
