<html  ng-app="mailingTool">
    <meta charset="utf-8"/>
    <head>

        <title>Greetings</title>

        <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script src="js/ngDialog-master/js/ngDialog.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="js/ngDialog-master/css/ngDialog.min.css">
        <link rel="stylesheet" href="js/ngDialog-master/css/ngDialog-theme-default.min.css">

        <link rel="stylesheet" type="text/css" href="css/global.css">

    </head>

    <body ng-controller="SelectTemplateController">
  <table id="TemplateData" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <!--Upper Banner-->
        <td align="left" valign="top" style=""><img src="http://www.umiyamataji.com/images/kids_corner/diwali_banner.jpg" width="600" height="106" style="display:block;border-radius:30px 30px 0 0;"></td>
    </tr>
    <tr>
    <!--Middle background-->
    <td style="height:400px;text-align:center;vertical-align:top;background-image:url('https://s3.amazonaws.com/media.dpn/54336_4021549307_bb5bd6cbb0_bf.jpg');color:white;">
    <!--Pepcus Logo-->
        <a href="http://www.pepcus.com" target="_blank" style="outline:none;">
            <img src="http://www.pepcus.com/images/logo/logonew.png" style="width: 120px;padding-top: 40px;">
        </a>
        <p style="    padding-left: 241px;
    font-size: 5px;
    top: 271px;
    position: absolute;"><span id="reciverTemplate" style="font-size: 10px;">LET'S<span style="
    color: red;
"> GROW </span>TOGETHER</span>,</p>
    <p style="padding-top:30px;padding-left:10px;font-size:14px">Dear <span id="reciverTemplate" style="font-size:18px"> Something Name</span>,</p>
    <p style="padding-top:0px;font-size:25px;">Pepcus wishes you a very<span style="font-size:35px;font-family: 'Brush Script MT', cursive;"> Happy Diwali..!!</span></p>
    <p style="font-family: 'Brush Script MT', cursive;font-size: 18px;width: 350px;margin: auto;">May the festival of lights be the harbinger of joy and prosperity. As the holy occasion of Diwali is here and the atmosphere is filled with the spirit of mirth and love, here's hoping this festival of beauty brings your way, bright sparkles of contentment, that stay with you through the days ahead.</p>
    </tr>
    <!--Bottom background-->
    <tr ><td style="color:#333;background-image:url('https://png.pngtree.com/photos/sm/2017-12-23/e3c66c7822a18db3de256517cb0cf94a.jpg');border-radius: 0 0 30px 30px;">
    
    <p style="margin-top:20px;text-align:left;padding-left:20px;width:40%;float:left;">
    <b>Corporate Office</b> <br>
    Pepcus Software Services Pvt. Ltd.<br>
    201, Balaji Corporate, New Palasia<br>
    Indore, Madhya Pradesh<br>
    452001, India.
    </p>
    
    <p style="margin-top:20px;text-align:right;padding-right:20px;width:40%;float:right;">
    <b>Contact us</b> <br>
    You can call us at:<br>
    Mobile : +91-9754550505<br>
    Phone : +91-731-4218554<br>
    Email: <a href="mailto:info@pepcus.com" style="color:red; text-decoration:none;">info@pepcus.com</a><br>
    </p>

    </td>
    </tr>
</table>
  <div id="details-form" style="display:none; text-align: center;" ng-controller="templateController">
     <form ng-submit="SendGreetingTemplate()">
          <span></span><br>
          <input type="text" placeholder="Reciever's name" ng-model="recieversName" style="margin-bottom: 10px;">
     
    
          <span></span><br>
          <input type="text"placeholder="Reciever's email" ng-model="recieversEmail" style="margin-bottom: 10px;">

         <span></span><br>
		  <input type="submit" value="send" class="btn" style=" "/>
	  
	 </form> 
  </div>
  <div style="text-align: center; padding: 11px;" ng-controller="templateController"><button class="btn select-send" ng-click="SelectTemplate()">Select</button></div>

    </body>
</html>
