<div class="file-encrypt-wrapper">
  <div class="wrapper-heading blue"><h2 class="h5 white-heading">File encryption</h2></div>
  <div class="file-encrypt-wrapper-form">
    <form role="form" name="fileEncForm" id="fileEncForm" enctype="multipart/form-data"
          (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="">
        <div class=" " >
          <div class="form-group">
            <input type="file" class="form-control" id="file" name="file" required #AccUserImg>
          </div>
        </div>
      </div>

      <br>

      <div class="pass-input">

        <div class="form-group">
          <input type="password" class="form-control" id="key" name="key" placeholder="Enter password" ngModel>
        </div>

      </div>

      <div class="submit-btn">
        <div>
          <input type="submit" class="btn" id="btnSubmit">
        </div>
      </div>
    </form>
    <br>

    <div id="fileResult" style="display:none;">
      <input type="text" name="r" id="r/">
    </div>
  </div>

</div>

