 <div class="pwd-encrypt-wrapper">
      <div class="wrapper-heading blue"><h2 class="h5 white-heading">Password encryption</h2></div>
      <div class="pwd-encrypt-wrapper-form">
        <form role="form" name="pwdEncForm" id="pwdEncForm">
          <div class="">
            <div class="">
              <div class="form-group">
                <div class="selectContainer">
                  <select class="form-control" name="algorithm" id="algorithm"  #encryptionMethod required>
                    <option value="">--Select Encryption methid--</option>
                    <option value="bcrypt">Bcrypt</option>
                    <option value="base64">Base64</option>
                    <option value="TripleDES">TripleDES</option>
                    <option value="PBKD">PBKD</option>
                    <option value="md5">Message Digest (MD5)</option>
                    <option value="sha">SHA-512</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="input-string">
              <div class="form-group">
                <!--<label class="sr-only" for="password">Input String</label>-->
                <input type="text" name="password" placeholder="Enter any String..." required
                       class="form-control" id="password"  (keyup)="encryptedPassword(encryptionMethod, pwd)" #pwd>
              </div>
            </div>
          </div>
        </form>
        <br>

        <div class="">
          <div class="form-group">
            <input type="text" name="pwdResponse" id="pwdResponse" [(ngModel)]="encPwd" readonly>
          </div>
        </div>

      </div>
    </div>
